/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* Our CSS Code */

/**  MAIN WRAPPER section**/
.main-wrapper {
  margin: - auto;
  width: 1000px;
  overflow:auto;
}

.main-wrapper ul{
  margin:0;
  padding:0;
  list-style:none;
  line-height:60px;

}

.main-wrapper li{
  float:left;
}

.main-wrapper li a:hover {
  color:#fff;
  opacity:0.5;
  font-size:14px;
}

.main-wrapper ul li a{
  background:#2d2d2d;
  text-decoration:none;
  width:130px;
  display:block;
  text-align:center;
  color:#f2f2f2;
  font-size:14px;
  font-family:arial;
  font-weight:bold;

}

/**  END OF MAIN WRAPPER SECTION**/

body {
  background-color: #dddddd;
}

header nav {
  width: 100%;
  height: 60px;
  background-color:#fff;
}

header nav ul {
  float: left;
}

header nav ul li {
  float: left;
  list-style: none;
}

header nav ul li a {
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 63px;
}

header .nav-login {
  float: left;
}

header .nav-login form {
  float: left;
  padding-top: 15px;
  padding-left: 15px;
}

/* Specifically for the logoutbutton*/
header .nav-login2 {
  float: right;
}

header .nav-login form input {
  float: left;
  width: 140px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 10px;
  border: 1px;
  background-color: #ccc;
  font-family: arial;
  font-size: 14px;
  color: #111;
  line-height: 30px;
}


header .nav-login form button {
  float: right;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: 2px;
  background-color: #ffbf00;
  font-family: arial;
  font-size: 14px;
  color: #111;
  cursor: pointer;
}


header .nav-login h3 {

  font-family: arial;
  font-size: 4px;
  color: #111;

}

header .nav-login form button:hover {
  opacity:.5;

}



header .nav-login a {
  display: block;
  width: 60px;
  height: 60px;
  padding: 0px 10px;
  border: none;
  float: left;
  background-color: #fff;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 63px;
  cursor: pointer;
}

nav-signup {

float:right;

}


.main-container {
  padding-top: 40px;
}

.main-container h2 {
  font-family: arial;
  font-size: 30px;
  color: #111;
  line-height: 63px;
  text-align: center;
}

.main-container h3 {
  font-family: arial;
  font-size: 20px;
  color: #111;
  line-height: 63px;
  text-align: center;
}

/* signup.php file */

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
  max-width:500px;
  margin:2rem auto;	/* Centering */
  border:1px solid black;
  padding: 2rem;
  background: white;;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);		/* Delivers soft shadow */
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
  box-shadow: 1px 2px 3px rgba(0,0,0,1);
}

.signup-form input {
  width: 90%;
  height: 40px;
  padding: 0px 5%;
  margin-bottom: 4px;
  border: none;
  background-color: #fff;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 40px;
}

.signup-form button {
  margin: 0 auto;
  display: block;
  width: 30%;
  height: 40px;
  border: none;
  background-color: #222;
  font-family: arial;
  font-size: 16px;
  color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  background:black;
  color:white;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #333;
}

.questions button {
border: 1px solid #e6ac00; border-radius:5px; background: linear-gradient(#ffbf00, #ffd24d); font-family: arial; font-size: 14px; color: #262626; cursor: pointer;
}

.questions button:hover{
  opacity: .5;
  background-color: #ffffff;
}

/* Richard CSS */
.questionnaire-form
{
	max-width:900px;
	margin:2rem auto;	/* Centering */
	border:1px solid black;
  border-radius: 5px;
	padding: 2rem;
	background: white;
  font-family:arial;

	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
	box-shadow: 1px 2px 3px rgba(0,0,0,1);

}

.custheader {
  padding-top:20px;
  font-size: 30px;

border-bottom: 1px solid #ccc;
}

.assess-styledcontainer
{

  background-color:#ddd;
  padding:20px;
  border-radius: 20px;
  border-width:2px;
}

.assessmentName{



}

.assess-styledcontainer2
{

  background-color:#ddd;
  padding:20px;
  border-width:2px;
}

.SettingsWindow
{
	max-width:900px;
	margin:2rem auto;	/* Centering */
	border:1px solid black;
  border-radius: 5px;
	padding: 2rem;
	background: white;
  font-family:arial;

	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
	box-shadow: 1px 2px 3px rgba(0,0,0,1);

  font-size:13px;
}

.SettingsWindow h2
{

  font-size:30px;
  font-style:underline;

}

.questionnaire-form h2
{

  font-size:30px;

}



.dashboard {

	margin:2rem auto;	/* Centering */
  padding: 2rem;
  border-radius: 5px;
  max-width:50px;
}



/******** User Settings  Page CSS *******/
/*Fits columns into the container*/
* {
    box-sizing: border-box;
}


/* Create columns that floats next to each other */
.column {
    float: left;

    padding: 10px;
}

.SettingsWindow button{

  border: 1px solid #e6ac00; border-radius:5px; background: linear-gradient(#ffbf00, #ffd24d); font-family: arial; font-size: 14px; color: #262626; cursor: pointer;

}

.SettingsWindow button:hover{

  opacity: .5;
  background-color: #ffffff;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}



/********End of User Settings CSS*********/





/******Properties for tables used in dashboard.
th tag = header
tr tag = row
************************************************/
table, th, td
{

border: 1px solid black;
border-collapse: collapse;
opacity: 0.95;


}
tr:nth-child(even){
  background-color: #fff;
}

tr:nth-child(odd){
  background-color: #ddd;
}

table {
  width:800px;

}


th{
  text-align:center;

  background: linear-gradient(#ffff66, #ffffa8)
}

td{

    text-align:center;
}

td button{

  border: 1px solid #e6ac00; border-radius:5px; background: linear-gradient(#ffbf00, #ffd24d); font-family: arial; font-size: 14px; color: #262626; cursor: pointer;

}

td button:hover{

  opacity: .5;
  background-color: #ffffff;
}

table, th, td {
  border:1px solid #000;
  padding: 10px;
}



textarea{
	display:block;
	padding: .5rem;
}



/*************End of tables styling******************/



/*********************************
* Keeping this here, in case we want to have differing
formats for the next button.
*********************************/
#nextBtn{
	width:20%;
}

#prevBtn{
	width:20%;
}

#subBtn{
  width:20%;
}
